* {
  padding: 0;
  margin: 0;
}
* a {
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  #contact {
    margin-top: 60px;
    background: #000000;
    width: 500px;
    height: 200px;
    margin: auto;
    font-size: 20px;
    font-family: "Brush Script MT", cursive;
    border-radius: 25px;
    box-shadow: 6px 6px 6px 6px red;
    border: 1px solid blue;
  }
  #contact {
    display: grid;
    text-align: center;
  }
  #menu {
    list-style: none;
    border: 0.1px solid red;
    display: flex;
    padding: 20px;
    background: #10a1a6;
    border-radius: 25px;
    box-shadow: 5px 6px 6px 4px #4e5e82, 3px 3px 6px #4e5e82;
    position: fixed;
    width: 95%;
    top: 0;
  }
  #menu li {
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    background: #10a1a6;
    color: #ffffff;
  }
  #menu li:hover {
    transition: 0.1s;
    border-bottom: 1px solid red;
  }
  body {
    background: #000000;
    color: white;
  }
  .container {
    display: none;
  }
  #responsive-menu {
    display: none;
  }
  #slider img {
    border-radius: 100px;
    width: 70%;
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 2px 2px 5px 6px #c42020;
  }
  #slider {
    margin-top: 100px;
  }
}
@media screen and (max-width: 500px) {
  #contact {
    margin-top: 60px;
    background: #000000;
    width: 99%;
    height: 200px;
    font-size: 20px;
    font-family: "Brush Script MT", cursive;
  }
  #menu {
    display: none;
  }
  #responsive-menu {
    list-style: none;
    font-size: 20px;
    display: none;
    justify-content: center;
  }
  #responsive-menu li {
    margin: 10px;
    cursor: pointer;
  }
  #responsive-menu li:hover {
    transition: 1s;
    color: red;
  }
  .container {
    display: inline-block;
    cursor: pointer;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  #slider img {
    border-radius: 100px;
    width: 400px;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 2px 2px 5px 6px #c42020;
  }
}
#product-asli {
  margin-top: 300px;
}

#product img {
  width: 200px;
  height: 200px;
}

#product {
  margin: 10px;
  display: grid;
  text-align: center;
  border: 2px solid #0062ff;
  width: 200px;
  height: 340px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 6px #c42020;
}

#product button {
  border: none;
  outline: none;
  background: green;
  border-radius: 20px;
  width: 70px;
  height: 30px;
  display: block;
  margin: 5px auto;
  cursor: pointer;
}

#product-asli {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

#card img {
  width: 100px;
  border-radius: 100%;
}

#card {
  display: flex;
  justify-content: space-around;
  background: red;
  border-radius: 20px;
  margin-top: 50px;
  box-shadow: 2px 3px 5px blue, 5px 2px 3px 5px green;
}

#off {
  border: none;
  outline: none;
  background: #37eae4;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
}

#social-media {
  display: flex;
  margin: 20px;
}

#social-media > a {
  margin: auto;
  font-size: 50px;
}

#social-media > a:nth-child(1) {
  color: #55ACEE;
}

#social-media > a:nth-child(2) {
  color: #E1306C;
}

#social-media > a:nth-child(3) {
  color: #55ACEE;
}

#social-media > a:nth-child(4) {
  color: white;
}

#social-media > a:nth-child(5) {
  color: #007bb5;
}

#social-media > a:nth-child(6) {
  color: #55ACEE;
}

#social-media > a:hover {
  box-shadow: 5px 6px 6px 4px #a6119f, 3px 3px 6px #4e5e82;
  transition: 0.3s;
}

#licens {
  align-items: center;
  display: grid;
  justify-content: center;
  margin-top: 50px;
  color: #d01999;
}

#t {
  border: none;
  outline: none;
  border-radius: 20px;
  background: #d01999;
  width: 90px;
  height: 50px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
